body {
    font-family: 'Raleway';
}

h1, h2 {
    font-weight: 100;
    color: white !important;
}

.form-group h1, .form-group h2 {
    color: black !important;
}

.form-group {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    background-color: white;
}

.form-group input, select {
    margin: 10px auto;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.img-responsive {
    margin: 0 auto;
}

.push-down {
    margin-bottom: 50px;
}

.push-top-down {
    margin-top: 50px;
    margin-bottom: 50px;
}

.black-header {
    color: black !important;
    margin-bottom: 50px;
    font-weight: 400;
}

.white-header {
    color: white !important;
    margin-bottom: 50px;
    font-weight: 400;
}

.flex {
    display: 'flex';
    justify-content: 'space-around';
    flex-wrap: 'wrap';
}

.form-horizontal .form-group {
    margin: 0;
    margin-bottom: 1px;
}

.booking-form input[type="radio"], input[type="checkbox"] {
    display: none;
}

.booking-frequency .checked {
    color: white;
    font-weight: 300;
    border-color: #0ca9bb;
    background-color: #0ca9bb;
}

.booking-frequency label {
    border: 1px solid #c6c6c7;
    color: #3a3c41;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-weight: 100;
}

.booking-option {
    text-align: center;
}

.booking-option label {
    border: 1px solid #c6c6c7;
    color: #3a3c41;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 10px;
    font-weight: 100;
    overflow: hidden;
    position: relative;
}

.booking-option label .checked {
    position: relative;
    top: -65px;
    background-color: #0ca9bb;
}

.booking-option label:not(.checked) img:hover {
    position: relative;
    top: -65px;
    background-color: #ff684c;
}