body {
    font-family: 'Raleway';
}

h1, h2 {
    font-weight: 100;
    color: white !important;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.img-responsive {
    margin: 0 auto;
}

.push-down {
    margin-bottom: 50px;
}

.push-top-down {
    margin-top: 50px;
    margin-bottom: 50px;
}

.black-header {
    color: black !important;
    margin-bottom: 50px;
    font-weight: 400;
}

.white-header {
    color: white !important;
    margin-bottom: 50px;
    font-weight: 400;
}