body {
    font-family: 'Raleway';
    color: #14374c;
}

h1, h2 {
    font-weight: 100;
}

.btn-primary {
    border-color: #3d77ea;
    background-color: #3d77ea
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.form-group h1, .form-group h2 {
    color: black;
}

.form-group {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    background-color: white;
}

.form-group input, select {
    margin: 10px auto;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.img-responsive {
    margin: 0 auto;
}

.push-down {
    margin-bottom: 50px;
}

.push-top-down {
    margin-top: 50px;
    margin-bottom: 50px;
}

.black-header {
    color: black;
    margin-bottom: 50px;
    font-weight: 400;
}

.white-header {
    color: white;
    margin-bottom: 50px;
    font-weight: 400;
}

.flex {
    display: 'flex';
    justify-content: 'space-around';
    flex-wrap: 'wrap';
}

.form-horizontal .form-group {
    margin: 0;
    margin-bottom: 1px;
}

.booking-form input[type="radio"], input[type="checkbox"] {
    display: none;
}

.booking-option {
    text-align: center;
}

.booking-option label {
    border: 1px solid #c6c6c7;
    color: #3a3c41;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 10px;
    font-weight: 100;
    overflow: hidden;
    position: relative;
}

.booking-option label .checked {
    position: relative;
    top: -65px;
    background-color: #3d77ea;
}

.gsm-dropdown {
    position: relative;
}

.gsm-dropdown-options {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.gsm-dropdown-options-visible {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.color-white {
    color: white !important;
}

.color-black {
    color: black;
}