body {
    margin: 0;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
}

h1 {
  font-weight: 100;
  font-size: 4em;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFF8;
  position: relative;
}



.header {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    padding-top: 25px;

/*    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;*/
}

.header-nav {
    width: 40% !important;
    margin-left: 10% !important;
    float: left;
    position: relative;
    top: 50px;
}

.header li:last-child {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}

#logo {
  height: 300px;
  position: relative;
  bottom: 100px;
  float: left;
}

.main {
  max-height: 100vh;
  background: url('assets/home.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  position: relative;
}

.content-main {
  position: absolute;
  top: 25%;
  left: 25%;
  line-height: 10px;
  color: white;
}

.content-main h2 {
  font-weight: 100;
  margin-left: 10px;
}

.how-panels {

}

.how-panels li {
  width: 33.33%;
  text-align: center;
}

.panel-img {
  width: 100%;
  height: 33vh;
}

.how-details {
  padding: 25px;
  height: 33vh;
}

.how-details .how-title {
  font-size: 24px;
  padding: 10px 0;
}

.how-details .how-subtext {
  font-size: 16px;
  padding: 10px;
}

.how-details img {
  max-height: 100px;
}


.container-header {
  padding: 2.5% 0;
  margin: 0;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  flex-flow: row wrap;
  width: 90vw;
  margin: auto;
}

.flex-container li {
  width: 33%;
}

.action-button {
  margin: 0 auto;
  position: relative;
}

.action-large {
  text-align: center;
  padding: 25px 0;
  background-color: #006BB6;
  color: white;
  width: 45vw;
  /*border-radius: 45vw;*/
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
}

.action-medium {
  border: 1px solid white;
  width: 200px;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  /*border-radius: 50px;*/
  cursor: pointer;
}

.trust {
  background-color: #262626;
  color: white;
  text-align: center;
}

.trust-item-header {
  font-size: 1.5em;
  height: 60%;
}

.trust-item-text {
  font-size: 16px;
  height: 40%;
}

.trust ul {
  margin: 20px auto;
  width: 90%;
}

.trust li {
  width: 30%;
  height: 33vh;
}


.trust h2 {
  width: 45%;
  margin: 0 auto;
  font-weight: 700;
}

.social-parallax {
  /* The image used */
  background-image: url('assets/flowers.png');

  /* Set a specific height */
  min-height: 70vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.review-layer {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 70vh;
}

.reviews {
  position: absolute;
  top: 0;
  width: 90vw;
  left: 5vw;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.reviews > div, .reviews > h1 {
  margin: 5vh auto;
}

.reviews > h1 {
  font-size: 3em;
  font-weight: 200;
}

.reviews li {
  height: 35vh;
  width: 28vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.book-banner {
  height: 30vh;
  background-color: white;
  text-align: center;
}

.book-banner h1 {
  width: 80%;
  margin: 5vh auto;
  font-weight: 700;
  font-size: 2em;
}

@media (max-width: 770px) {
  .flex-container li {
    width: 100%;
  }

  .action-button {
    bottom: 50px;
  }

  .parallax-cover {
    height: 150vh;
  }

  .reviews li {
    margin: 5% auto;
  }

  .book-banner h1 {
    margin: 10vh auto;
  }

  .trust h2 {
    font-size: 3em;
    width: 90vw;
  }

  .trust-item-header {
    font-size: 2.5em;
  }

  .trust-item-text {
    font-size: 2em;
  }
}

/* headlines with lines */
.decorated{
   overflow: hidden;
   text-align: center;
 }

.decorated > span{
  position: relative;
  display: inline-block;
}
.decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid;
  width: 35vw; /* half of limiter*/
  margin: 0 20px;
}
.decorated > span:before{
  right: 100%;
}
.decorated > span:after{
  left: 100%;
}