
<div class="container book">
        
    <div class="header">


        <img id="logo-desktop" class="logo" src="assets/logo/logo-02.png"/>
        <img id="logo-mobile" class="logo" src="assets/logo/logo-03.png"/>

        <ul class="header-nav flex-container">
                <li class="header-nav-item">
                    Home
                </li>

                <li class="header-nav-item">
                    About
                </li>

                <li class="header-nav-item">
                    Book Now
                </li>
            </ul>
        </ul>
    </div>

    <div class="book-main">
        <h1> YOU'RE 60 SECONDS AWAY FROM AWESOME CLEANING </h1>
    </div>
</div>

<div class="container how">

    <h2 class="decorated container-header">
        <span>
            How It Works
        </span>
    </h2>


    <ul class="flex-container how-panels">
        <li>
            <img class="panel-img" src="assets/book-panel.png"/>

            <div class="how-details">

                <img src="assets/book.png"/>

                <div class="how-title">
                    BOOK ONLINE
                </div>

                <div class="how-subtext">
                    Book instantly online, 24/7.
                    No contracts.
                    Just set the day and time you'd like your professional cleaners to show up.
                </div>

            </div>
        </li>

        <li>
            <img class="panel-img" src="assets/clean-panel.png"/>

            <div class="how-details">
                <img src="assets/clean.png"/>

                <div class="how-title">
                    WE CLEAN
                </div>

                <div class="how-subtext">
                    Our team of trusted cleaners will clean your home like it's our own. Guaranteed arrival within a 60 minute window.
                </div>
            </di>
        </li>

        <li>
            <img class="panel-img" src="assets/relax-panel.png"/>

            <div class="how-details">

                <img src="assets/relax.png"/>

                <div class="how-title">
                    YOU RELAX
                </div>

                <div class="how-subtext">
                    Have some me time.
                    Read a book.
                    Have some coffee.
                    Relax while we make your home sparkle.
                </div>

            </div>
        </li>
    </ul>


    <div class="action-button action-large" href="book.html">
        SCHEDULE AN APPOINTMENT
    </div>
</div>