.social-parallax {
  /* The image used */
  background-image: url('../assets/flowers.png');

  /* Set a specific height */
  min-height: 70vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.review-layer {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 70vh;
}

.reviews {
  position: absolute;
  top: 0;
  width: 90vw;
  left: 5vw;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.reviews > div, .reviews > h1 {
  margin: 5vh auto;
}

.reviews > h1 {
  font-size: 3em;
  font-weight: 200;
}

.reviews li {
  height: 35vh;
  width: 28vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}


@media (max-width: 770px) {

  .parallax-cover {
    height: 150vh;
  }

  .reviews li {
    margin: 5% auto;
  }

}